extends ../layout.pug

block prepend styles
  link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
  div(class='breadcrumb')
    li= title
  form(id='shipondock-add-form' name='shipondock-add-form' class='form-inline' action='')
    div(class='form-group')
      div(class='col-md-3')
        label(for='name') Dock 
      div(class='col-md-9')
        input(id='dock' name='dock' value='' class='form-control')
    div(class='form-group')
      div(class='col-md-3')
        label(for='name') Ship  
      div(class='col-md-9')
        input(id='ship' name='ship' value='' class='form-control')        
    div(class='form-group')
      div(class='col-md-12')
        button(type='submit' class='btn btn-primary') Create
  div.list-wrapper
      table(id='shipondock-list')
block append scripts
  script(src='/static/js/models/shipondock.js')
  script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
  script(src='/static/js/views/shipondock.js')
      